# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
.venv/

# Docker
*.pyc
